# Auto detect text files and perform LF normalization
* text=auto

# Do not put this files on a distribution package
/.changeset/                export-ignore
/.github/                   export-ignore
/.husky/                    export-ignore
/.vscode/                   export-ignore
/tests/                     export-ignore
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/sonar-project.properties   export-ignore

# Do not count these files on github code language
/tests/_files/**            linguist-detectable=false
/docs/**                    linguist-detectable=false
/.husky/**                  linguist-detectable=false
*.cjs                       linguist-detectable=false
/examples/**                linguist-detectable=false
